<div class="table">
    <table style="width: 80%;">
        <thead>
            <th>Accion</th>
            <th> Nombre </th>
            <th> Apellido </th>
            <th> Correo Electronico </th>
            <th>Admin</th>
        </thead>


        {{#each usuarios}}
        <tr>
            <td>

                {{#if admin}}
                <span></span>

                {{else}}
               
                <a href="/admin/ver/vuelos/{{_id}}">
                    <button class="btn btn-success">Ver Vuelos</button>
                </a>
                
                {{/if}}


            </td>
            <td>{{nombre}} </td>
            <td>{{apellido}}</td>
            <td>{{email}}</td>
            {{#if admin}}
            <td>Si</td>
            {{else }}
            <td>No</td>
            {{/if}}

        </tr>
        {{/each}}
    </table>
</div>