<div class="table">
    <table style="width: 80%;">
        <thead>
            <th>Accion</th>
            <th> Origen </th>
            <th> Destino </th>
            <th> Cantidad Boletos </th>
            <th> Total </th>
        </thead>


        {{#each vuelos}}
        <tr>
            <td>
                <a href="/vuelos/editar/{{_id}}">
                    <button class="btn btn-block btn-success " style="margin-bottom:1em;">Editar</button>
                </a>
                <form action="/vuelos/eliminar/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-block btn-danger" style="margin-bottom:1em;">Eliminar</button>
                </form>

            </td>
            <td>{{origen}} </td>
            <td>{{destino}}</td>
            <td>{{cantBoleto}}</td>
            <td>${{precio}}<span style="padding-left: 3%;">USD</span></td>
        </tr>
        {{/each}}
    </table>
</div>